<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.dao.AddressDao">
    <insert id="saveAddress" parameterType="address" useGeneratedKeys="true" keyProperty="id">
        insert into address(province, city, street, user_id)
        values(#{province}, #{city}, #{street}, #{userId})
    </insert>

    <select id="findAddressByCity" resultType="address">
        select * from address
        <where>
            <if test="city != null and city != ''">
                and city = #{city}
            </if>
        </where>
    </select>
</mapper>